/*Blog entry 1
Brandon Ha July 27 2019
Blog Website
HTML file: blog.html
JS file: jsBlog.js*/
body{
	background-image: url("images/turtle.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	/*Background image decoration. Photo by Douglas Tofoli on creativecommons. https://ccsearch.creativecommons.org/photos/327edb80-386b-4544-84ec-c741ad7750a3 */
}
a:hover{
	font-size: 1.4em;
	text-decoration-style: double;
	color:orangered;
}
.wrapper{
	margin-left: 150px; 
	margin-right: 150px; 
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left:30px;
	padding-right:30px;
	background-color:white;
	border:3px solid black;
}
.mainh{
    background: linear-gradient(to bottom, #669900 0%, #ff99cc 100%);
}
.subh{
	border-bottom:solid;
}
.image{
	width: 300px;
	height:200px;
	padding:5px;
}
.fig{
	float:right;
}
.overflow{
	overflow:auto;
}
.clear{
	clear:right;
}
.c1{
	background-color: #F2F2F3;
}
.c2{
	background-color: #EFE9D4;
}
.c4{
	background-color: #B2AD8E;
}
.c5{
	background-color: #AF663C;
}
.c6{
	background-color: #C28565;
}
.c7{
	background-color: #EBD5AC;
}
.c8{
	background-color: #A3CCE1;
}
.c9{
	background-color: #F1B53E;
}
.font{
	background-color: yellow;
	font-size:150%;
}